*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:linear-gradient(135deg,#0f172a,#1e293b);
  min-height:100vh;
  padding:20px;
  color:white;
}

.container{
  max-width:1100px;
  margin:auto;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  padding:30px;
  border-radius:25px;
}

h1{
  text-align:center;
  margin-bottom:20px;
}

/* cards */
.summary{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.card{
  flex:1;
  min-width:200px;
  padding:20px;
  border-radius:15px;
  text-align:center;
  background:rgba(255,255,255,0.1);
}

.card:nth-child(1){background:#2563eb;}
.card:nth-child(2){background:#ef4444;}
.card:nth-child(3){background:#10b981;}

.btn-row{
  display:flex;
  gap:10px;
  margin:15px 0;
}

button{
  padding:12px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-weight:bold;
}

#resetSalary{
  background:#f97316;
  color:white;
}

#resetAll{
  background:#dc2626;
  color:white;
}

.currency-box{
  margin:15px 0;
}

form{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

input,select{
  flex:1;
  padding:12px;
  border-radius:10px;
  border:none;
}

form button{
  background:#22c55e;
  color:white;
}

.expense-item{
  display:flex;
  justify-content:space-between;
  background:rgba(255,255,255,0.1);
  padding:10px;
  margin:10px 0;
  border-radius:10px;
}

.delete-btn{
  background:red;
  color:white;
}

.chart-box{
  background:white;
  padding:10px;
  border-radius:15px;
  max-width:400px;
  margin:20px auto;
  color:black;
}

#downloadPDF{
  width:100%;
  margin-top:10px;
  background:#7c3aed;
  color:white;
}

#warningMessage{
  color:#ff4d4d;
}

@media(max-width:768px){
  .summary{flex-direction:column;}
  form{flex-direction:column;}
}